<template>
  <div>
    <h1 style="padding: 1rem">Buttom</h1>
    <v-container fluid class="pa-0">
      <v-row align="center">
        <v-col cols="12" sm="6">
          <div class="text-center">
            <div class="my-2">
              <v-btn x-small color="secondary" dark> Extra small Button </v-btn>
            </div>
            <div class="my-2">
              <v-btn small color="primary" dark> Small Button </v-btn>
            </div>
            <div class="my-2">
              <v-btn color="warning" dark> Normal Button </v-btn>
            </div>
            <div class="my-2">
              <v-btn color="error" dark large> Large Button </v-btn>
            </div>
            <div class="my-2">
              <v-btn x-large color="success" dark> Extra large Button </v-btn>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
</script>