<template>
  <div>
    <h1 style="padding: 1rem">Flex</h1>
    <v-layout row wrap>
      <v-flex xs12 md6>
        <v-btn block class="">1</v-btn>
      </v-flex>
      <v-flex xs4 md2>
        <v-btn block class="">2</v-btn>
      </v-flex>
      <v-flex xs4 md2>
        <v-btn block class="">2</v-btn>
      </v-flex>
      <v-flex xs4 md2>
        <v-btn block class="">2</v-btn>
      </v-flex>
      <v-flex xs2 md1>
        <v-btn block class="">3</v-btn>
      </v-flex>
      <v-flex xs2 md1>
        <v-btn block class="">3</v-btn>
      </v-flex>
      <v-flex xs2 md1>
        <v-btn block class="">3</v-btn>
      </v-flex>
      <v-flex xs2 md1>
        <v-btn block class="">3</v-btn>
      </v-flex>
      <v-flex xs2 md1>
        <v-btn block class="">3</v-btn>
      </v-flex>
      <v-flex xs2 md1>
        <v-btn block class="">3</v-btn>
      </v-flex>
      <v-flex xs2 md1>
        <v-btn block class="">3</v-btn> </v-flex
      ><v-flex xs2 md1>
        <v-btn block class="">3</v-btn> </v-flex
      ><v-flex xs2 md1>
        <v-btn block class="">3</v-btn> </v-flex
      ><v-flex xs2 md1>
        <v-btn block class="">3</v-btn> </v-flex
      ><v-flex xs2 md1>
        <v-btn block class="">3</v-btn> </v-flex
      ><v-flex xs2 md1>
        <v-btn block class="">3</v-btn> </v-flex
      ><v-flex xs2 md1>
        <v-btn block class="">3</v-btn> </v-flex
      ><v-flex xs2 md1>
        <v-btn block class="">3</v-btn> </v-flex
      ><v-flex xs2 md1>
        <v-btn block class="">3</v-btn>
      </v-flex>
    </v-layout>
  </div>
</template>

<script lang="ts">
</script>